<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <p>
      This is you code: {{ (authService.user | async)?.uid }}
    </p>
    <mat-card-content>
      <div>
        <ul>
          <li *ngFor = "let code of codes">
            {{code.code}} - {{code.nickname}}
          </li>            
        </ul>
      </div>
      <p>
        Enter codes and add nickname
      </p>
      <form class="example-form" [formGroup] = "form" (ngSubmit) = "addCode()">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Code" value="" formControlName = "code">
          </mat-form-field>
           -
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Nickname" value="" formControlName = "nickname">
            </mat-form-field>          
          <div>
              <input type = "Submit" value = "Add Code and Nickname">
          </div>      
       </form>        
    </mat-card-content>
  </mat-card>
