<mat-card class="example-card">
    <mat-card-header>
      <h2>Login</h2>
    </mat-card-header>
    <mat-card-content>
      <p>
        Login and be productive!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <form class="example-form">
        <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" value="" name = 'email' [(ngModel)]="email">
        </mat-form-field>
        </div>
        <div>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" value="" name = 'password' [(ngModel)]="password">
        </mat-form-field>
        </div> 
        <div>
          <button  mat-raised-button  (click)="login()" [disabled]="!email || !password">
            Login
          </button>
        </div>                      
      </form>  
    </mat-card-actions>
  </mat-card>