<mat-card class="example-card">
 <mat-card-content>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span><a routerLink = "" >Todos</a></span>
    </button>
    <a routerLink = "/login" *ngIf="!(authService.user | async)" >
    <button mat-menu-item >
     <!-- <a routerLink = "/login" > -->
      <mat-icon>chevron_right</mat-icon>
      <span>Login</span>
    </button>    
    </a>
    <button mat-menu-item (click)="logout()" *ngIf="authService.user | async">
        <mat-icon>chevron_left</mat-icon>
        <span>Logout</span>
      </button>    
    <button mat-menu-item (click)="toRegister()" *ngIf="!(authService.user | async)">
      <mat-icon>how_to_reg</mat-icon>
      <span>Register</span>
    </button>
    <button mat-menu-item (click)="toCodes()">
      <mat-icon>swap_horiz</mat-icon>
      <span>Codes</span>
    </button>
  </mat-menu> 
  <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.displayName }}!</h1>   
  </mat-card-content>
</mat-card>




