<mat-card class="example-card">
  <mat-card-header>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
      <todo *ngFor = "let todo of todos;let i=index;" [data] = "todos[i]" 
        (todoAdded) = "addTodo($event)" 
        (todoEdited) = "editTodo($event)"
        (done) = "done($event)"
        (todoDeleted) = "deleteTodo($event)"
        (toBeThrown) = "throwToPull($event)" >
    </todo>
  </mat-card-content>
  <mat-card-actions>
    <form class="example-form" [formGroup] = "form" (ngSubmit) = "addTodo()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Add todo item" value="" formControlName = "todo">
      </mat-form-field>
      <div>
          <input type = "Submit" value = "Add todo">
      </div>      
    </form>  
  </mat-card-actions>
</mat-card>


 
