<div  *ngIf = "status != 'edit'" (mouseenter) = "show()" (mouseleave) = "hide()">
    <mat-checkbox
      [(ngModel)]="checkboxFlag"
      id="{{id}}"
      (change) = "checkChange()"
      [disabled]="sent"
    >
    </mat-checkbox>   
    <label for="{{id}}"> {{text}}</label>
    <button mat-button  *ngIf = "showInterface && !sent && !received" (click) = "deleteTodo()" >DELETE</button>
    <button mat-button *ngIf = "showInterface  && !sent && !received" (click) = "changeToEdit()" >EDIT</button>
    <button mat-button *ngIf = "showInterface  && !sent && !received" (click) = "send()">SEND</button>
    <span *ngIf = "sent"> (sent to {{nickname}})</span>
    <span *ngIf = "received"> (received from {{nickname}})</span>
  </div>
  <div class = "check" *ngIf = "status == 'edit'">
     <input  [(ngModel)]="text" type = "text" id="{{$key}}">
     <button (click)="addORUpdateTodo()" >{{buttonText}}</button>
  </div>
