<h1>
  Why do it yourself?  
</h1>
<p>Send {{data.text}} to someone else</p>
<div>
    <ul>
      <li *ngFor = "let code of codes;let i=index;">
        {{code.nickname}} <button (click) = "send(i)">Send</button>
      </li>            
    </ul>
</div>
